body {
  margin: 10px;
  font-family: Arial, "Franklin Gothic Medium", "Arial Narrow", sans-serif;
}

body, input, button, form, div, section {
  box-sizing: border-box;
}

input {
  height: 40px;
  padding: 3px;
  border-radius: 4px;
}

section {
  margin: auto;
  left: 0;
  right: 0;
  width: 90%;
  text-align: center;
}
section form {
  margin-top: 10px;
  display: block;
  width: 100%;
}
section form input {
  width: 100%;
  margin-top: 20px;
  border: 1px solid #aaa;
}
section form input[type=submit] {
  background-color: #2347af;
  border-color: #2347af;
  color: #fff;
}
section form input[type=submit]:hover {
  cursor: pointer;
  opacity: 0.8;
}
section form input[type=text], section form input[type=email] {
  padding-left: 10px;
}

button {
  background-color: #2347af;
  color: #fff;
  margin-left: 15px;
  border-radius: 4px;
}
button:hover {
  cursor: pointer;
  opacity: 0.8;
}
button.closeMe {
  background-color: #eaeaea;
  border-color: red;
  color: red;
  margin-left: 0;
  height: 30px;
  width: 30px;
}

#popDiv .popBG {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;
}
#popDiv .popBG:hover {
  cursor: pointer;
}
#popDiv .popTXT {
  position: fixed;
  z-index: 1001;
  margin: auto;
  left: 0;
  right: 0;
  background-color: #fff;
  width: 80%;
  height: 80vh;
  padding: 10px;
  top: 10vh;
  border: 1px solid #2347af;
  border-radius: 15px;
}

#userList {
  width: 180px;
  margin: auto;
  left: 0;
  right: 0;
}
#userList button {
  vertical-align: middle;
}

.userList {
  width: 100%;
}
.userList .userBlock div:first-child {
  font-weight: bold;
}

.userBlock {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px #ccc dashed;
  padding-bottom: 5px;
  height: 30px;
  line-height: 30px;
  margin-top: 5px;
}

@media (min-width: 768px) {
  section {
    width: 60%;
  }
  section form {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  section form[data-do=logout] {
    justify-content: center;
  }
  section form input {
    width: 30%;
  }

  #popDiv .popTXT {
    height: 400px;
    width: 250px;
  }
}

/*# sourceMappingURL=main.css.map */
