$main-color:#2347af;
@mixin automarg() {
    margin: auto;
    left: 0;
    right: 0;
  }
body{
    margin: 10px;
    font-family:  Arial,'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
}
body,input,button,form,div,section{
    box-sizing: border-box;
}
input{
    height: 40px;
    padding: 3px;
    border-radius: 4px;
}
section{

        @include automarg();
       width:90%;
       text-align: center;

   
    & form{
        margin-top: 10px;
        display: block;
        width:100%;

        & input{
            width: 100%;
            margin-top:20px;
            border:1px solid #aaa;
            &[type="submit"]{
                background-color: $main-color;
                border-color: $main-color;
                color:#fff ;
                &:hover{
                    cursor: pointer;
                    opacity: 0.8;
                }
            }
            &[type="text"],&[type="email"]{
                padding-left: 10px;
            }

        }

    }
    
}
button{
    background-color: $main-color;
    color: #fff;
    margin-left: 15px;
    border-radius: 4px;
    &:hover{
        cursor: pointer;
        opacity: 0.8;
    }
    &.closeMe{
        background-color: #eaeaea;
        border-color: red;
        color:red;
        margin-left:0;
        height: 30px;
        width: 30px;
    }
}
#popDiv{
    & .popBG{
        background-color: rgba(000,000,000,0.2);
        position: fixed;
        top: 0;
        left:0;
        height: 100vh;
        width:100%;
        z-index: 1000;
        &:hover{
            cursor: pointer;
        }
    }
    & .popTXT{
        position: fixed;
        z-index: 1001;
        @include automarg();
        background-color: #fff;
        width:80%;
        height: 80vh;
        padding: 10px;
        top:10vh;
        border: 1px solid $main-color;
        border-radius: 15px;
    }
}
#userList{
    width: 180px;
    @include automarg();
    & button{
        vertical-align: middle;
    }
}
.userList{
    width:100%;
    & .userBlock{
        & div:first-child {
            font-weight: bold;
        }
    }
}
.userBlock{
    display: flex;
    justify-content: space-between;
    border-bottom:1px #ccc dashed;
    padding-bottom: 5px;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
}
@media (min-width: 768px) {
  
    section{
           width:60%;

        & form{
            display: flex;
            justify-content: space-between;
            &[data-do="logout"]{
                justify-content:center;
            }
            text-align: center;
    
            & input{
                width: 30%;
            }
    
        }
    }
    #popDiv{
        & .popTXT{
            height: 400px;
            width: 250px;
        }
    }
}